$backgroundColor:#070A1B;
$primaryColor:#38EDF8;
$secondaryColor:#00D2EF;
$tertiaryColor:rgba(#0690A9,0.4);
$iconBorderColor:rgba($secondaryColor , 0.38);
$outlineColor:#7687E5;
$darkBackgroundColor:#030511;
$grayColor:#848484;



//Font
$fontPrimary:'Inter', sans-serif;
$fontHeading:'Outfit', sans-serif;

//font sizes
$s1:0.64rem;
$s2:0.76rem;
$s3:1rem;
$s4:1.25rem;
$s5:1.56rem;
$s6:1.95rem;
$s7:2.4rem;
$s8:3.05rem;
$s9:3.8rem;

//Font Weights
$w1:100;
$w2:200;
$w3:300;
$w4:400;
$w5:500;
$w6:600;
$w7:700;
$w8:800;
$w9:900;


//Mixins

@mixin center{
    display:flex;
    align-items:center;
    justify-content:center;
}

@mixin displayImage{
    width:100%;
    height:auto;
}

@mixin solidButton{   

        font-family: $fontPrimary;
        font-size:$s3;
        padding:0.5rem 1.5rem;
        width:fit-content;
        background-color: $primaryColor;
        color:$backgroundColor;
        border-radius:0.5rem;
        border: 0.2rem solid $primaryColor;
        font-family: $fontPrimary;
        font-weight: $w6;
}



@media only screen and (max-width:1200px)
{
    html{
        font-size: 14px;
    }
}

@media only screen and (max-width:1024px)
{
    html{
        font-size: 12px;
    }
}

@media only screen and (max-width:768px)
{
    html{
        font-size: 12px;
    }
}

