@import '../../../../styles/var.scss';
.iconBtn{

    height:2.1rem;
    width:2.1rem;
    border-radius:50%;
    background-color:$tertiaryColor;
    border: 0.4rem solid $iconBorderColor;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon{
        height:1.7rem;
        width:1.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color:$primaryColor;
    }

}