@import '../../styles/var.scss';

$light1Color:#5148ab;
$light2Color:rgba($secondaryColor,0.5);
$light3Color:#674281;

@mixin light($color , $top , $left){
    position:absolute;
    z-index:1;
    height:20vh;
    width:30vh;
    background-color:$color;
    border-radius:50%;
    top:$top;
    left:$left;

}

.home{
    z-index: 0;;
    box-sizing:border-box;
    background-color: #070A1B;
    height:300vh;
    width:100vw;
    // display: flex;
    // align-items: center;
    // justify-content: center;

    .lights{
        position:absolute;
        top:0;
        z-index:0;
        height:100vh;
        width:100vw;
        .light1{
            @include light($light1Color , 50% , 30%);
           
        }
        .light2{
            @include light($light2Color , 50% , 40%);

        }
        .light3{
            @include light($light3Color , 50% , 60%);

        }
      
    }
    .overlay{
        position:absolute;
        z-index:1;
        height:100vh;
        width:100vw;
        background-color: transparent;
        backdrop-filter: blur(100px);
    }
    .heading{
        
        position:absolute;
        z-index: 2;
        font-size: 3.5rem;
        color:white;
        font-weight: 600;
        line-height: 3.4rem;;
        top:20vh;
        left:12vh;
        gap:0rem;
        width:max-content;
        display:flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        background-color: rgba(41, 204, 204,0);
    }

    .subHeading{
        position:absolute;
        font-size:1.2rem;
        font-weight: 400;
        top:44vh;
        color:white;
        left:12vh;
    }

   
}
