@import '../../styles/var.scss';

$light1Color:#685fc7;
$light2Color:rgba($secondaryColor,0.5);
$light3Color:#8730c5;

@mixin light($color , $top , $left){
    position:absolute;
    z-index:1;
    height:40vh;
    width:40vh;
    background-color:$color;
    border-radius:50%;
    top:$top;
    left:$left;

}

.home{
    z-index: 0;;
    box-sizing:border-box;
    background-color: #070A1B;
    height:300vh;
    width:100vw;
    // display: flex;
    // align-items: center;
    // justify-content: center;

    .lights{
        position:absolute;
        top:0;
        z-index:0;
        height:110vh;
        width:100vw;
        .light1{
            @include light($light1Color , 50% , 30%);
           
        }
        .light2{
            @include light($light2Color , 45% , 40%);

        }
        .light3{
            @include light($light3Color , 50% , 50%);

        }
      
    }
    .overlay{
        position:absolute;
        z-index:1;
        height:110vh;
        width:100vw;
        background-color: transparent;
        backdrop-filter: blur(100px);
    }
    .heading{
        
        position:absolute;
        z-index: 2;
        top:20vh;
        left:12vh;

        font-family: $fontHeading;
        font-size: $s9;
        color:white;
        font-weight:$w6;
        line-height: 3.4rem;;
       
        gap:0rem;
        width:max-content;
        display:flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        background-color: rgba(41, 204, 204,0);
    }

    .subHeading{
        position:absolute;
        z-index: 2;
        margin-bottom:2rem;

        font-family: $fontHeading;
        font-size:$s5;
        font-weight: 400;
        top:44vh;
        color:white;
        left:12vh;
    }

   
}
